.popup {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .7s linear, visibility .7s linear;
}

@media screen and (max-width: 525px) {
  .popup {
    padding: 0 19px;
  }
}