.popup {
    /*display: none;*/
    z-index: 100;
    top: 0;
    left: 0;       
    background-color: rgba(0, 0, 0, .5);
    /*opacity: 0;*/
    /*visibility: hidden;*/
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

}