.profile {
  max-width: 880px;
  padding: 33px 0 0;
  text-align: center; 
}

@media (min-width: 768px) {
  .profile {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    text-align: center;
  }
}