.popup__figure {
  position: relative;
  padding: 0;
  margin: auto;
  max-width: 75vw;
  max-height: 75vw;
}

@media screen and (max-width: 425px) {
  .popup__figure  {
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .popup__figure  {
    max-width: 240px;
  }
}