.header {  
  margin: 45px 0 0;
  max-width: 880px;
  min-height: 74px;
  padding: 0 200px;
}

.header:after {
  content: "";
  display: block;
  margin-top: 26px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1024px) {
  .header {
      padding: 0 88px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
      padding: 0 44px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin-top: 38px;
    padding: 0;
  }
}

/* @media screen and (max-width: 320px) {
  .header {
    max-width: 282px;
  }
} */