.popup__form {
  margin: 34px 36px 37px;
}

@media screen and (max-width: 425px) {
  .popup__form {
    margin: 13px 27px; 
  }
}

@media (min-width: 525px) {
  .popup__form {
    min-width: 350px;
  }
}