.places__basket {
  position: absolute;
    width: 18px;
    height: 19px;
    border: 0;
    background: url(../../../images/basket.svg) center no-repeat;
    background-size: contain;
    transition: opacity .3s linear;
    cursor: pointer;
    top: 20px;
    right: 20px;
}

.places__basket:hover {
  opacity: .5;
}