.places__like-btn {
  width: 26px;/*22px макет*/
  height: 19px;
  margin-left: auto;
  border: 0;
  background: url(../../../images/icon-like.svg) center no-repeat;
  background-size: contain;
  transition: opacity .3s linear;
  cursor: pointer;
}

.places__like-btn:hover {
  opacity: .5;
}