.popup__submit-btn {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 14px;
  border-radius: 2px;
  margin: 45px 0 0;
  cursor: pointer;
  border: 0;
}

.popup__submit-btn:hover {  
  opacity: .8;
}

@media screen and (max-width: 425px) {
  .popup__submit-btn {
    font-size: 14px;
    line-height: 17px;
  }
}