.profile__edit-btn {
  margin-left: 18px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: url(../../../images/icon-karandash.svg) center no-repeat;
  background-size: 10px;
  transition: opacity .8s linear;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .profile__edit-btn {
    width: 18px;
  height: 18px;
  }
}