.container {
  padding: 0 200px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 88px;
  }
}

@media screen and (max-width: 425px) {
  .container {    
    padding: 0 19px;
  }
}

