.footer {
  max-width: 1184px;
  margin: 67px auto 60px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer {
  }
}

@media screen and (max-width: 1024px) {
  .footer {
  }
}

@media screen and (max-width: 768px) {
  .footer {
  }
}

@media screen and (max-width: 425px) {
  .footer {  
    margin: 48px auto 36px;
  }
}

