.places__item {
  background-color: #fff;
  width: 100%;
  height: 361px;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .places__item {
  }
}

@media screen and (max-width: 768px) {
  .places__item {      
  }
}

@media screen and (max-width: 320px) {
  .places__item {
  }
}
